html {
  min-height: 5em;
  min-width: 10em;
  background: white;
}

body {
  width: 10rem;
}

h1 {
  text-align: center;
  font-family:Times, serif;
}

.popup-button {
  padding: 5px 5px;
  display: block;
  width: 100px;
  margin: 10px auto 0px auto;
}​

ul.ul_class {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

li {
  padding: 1px 1px 3px 1px;
  margin: 0;
}

a {
  padding: 0 5px 0 5px;
  margin: 0;
  border:#ffffff 2px solid;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  width: 40px;
  height: 40px;
}

.table_anchor {
  padding: 0 0 5px 0;
  text-align: center;
}
table {
  border: none;
  width: 80%;
  margin-left: 10%;
}
th, td {
  padding: 5px;
}
.button_class {
  font-family: 'Courier New', Courier, monospace;
}
