html {
  min-height: 5em;
  min-width: 10em;
  background: white;
}

body {
  width: 10rem;
}

h1 {
  text-align: center;
  font-family:Times, serif;
}

.goto-button {
  padding: 5px 5px;
  display: block;
  width: 100px;
  margin: 10px auto 0px auto;
}​

ul.ul_class {
  list-style-type: none;
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

li {
  padding: 1px 1px 3px 1px;
  margin: 0;
}

a {
  padding: 0 5px 0 5px;
  margin: 0;
  border:#ffffff 2px solid;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  width: 40px;
  height: 40px;
}

.table_anchor {
  padding: 0 0 5px 0;
  text-align: center;
}
table {
  border: 1px solid #86888a;
  width: 80%;
  margin-left: 10%;
}
th, td {
  padding: 5px;
}
.button_class {
  font-family: 'Courier New', Courier, monospace;
}

.span_class {
  position: relative;
  border-bottom: 1px dotted black;
}

.span_class:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.span_class:hover:before {
  opacity: 1;
  visibility: visible;
}
